* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.btn {
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;

    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.header, .footer {
    background: rgba(255, 113, 67, 0.27);
}

.header__container, .info__container, .form__container, .footer__container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0 47px;
}

.header__list, .footer__list {
    list-style: none;
}

.header__item, .footer__item {
    display: inline-block;
}

.header__item:not(:first-of-type), .footer__item:not(:first-of-type) {
    margin: 0 0 0 49px;
}
.header__link, .footer__link  {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;    
    letter-spacing: -0.468947px;
    
    color: #696871;
    text-decoration: none;
}

.header__link:hover, .footer__link:hover {
    color: #19191B;
    transition: 300ms;
}

.header__btn {
    color: #FFFFFF;
    background: #FF7143;
}

/*  1 Секция  */

.info {
    margin: 104px 0 80px 0;
}

.info__title {
    max-width: 467px;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;

    letter-spacing: -2.50105px;

    color: #19191B;
}

.info__descr {
    max-width: 464px;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    letter-spacing: -0.625263px;

    color: #696871;
    margin: 30px 0 50px 0;
}

.info__start {
    color: white;
    background: #5454D4;
    margin: 0 35.6px 0 0;
}

.info__try {
    color: #5454D4;
    background: white;
    border: 1px solid #5454D4;
}

.form__info {

}

.form__title {
    font-size: 50px;
}
.form__email {

}

.form__submit {
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    padding: 0 0 0 14px;
    margin: 57px 39px 0 0;
}

.form__submit::placeholder, .input {
    font-weight: bold;
    color: black;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
}

.input:focus {
    outline: none;
}

.form__try {
    color: white;
    background: #5454D4;
}

.plan__container {
    margin-bottom: 132px;
}

.plan__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    max-width: 504px;
    letter-spacing: -1.87579px;

    color: #19191B;

}

.plan__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 98px 0 0 0;
}

.plan__items {
    background: #F8F8F8;
    border-radius: 10px;
    width: 330px;
    text-align: center;
    padding: 34px 0 27px 0;
}

.plan__items:hover {
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    border-radius: 10px;
    color: white;
    transition: 500ms;
}

.plan__service {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
}

.plan__cost {
    margin: 22px 0 28px 0;
    font-size: 60px;
    line-height: 56px;

    letter-spacing: -1.03448px;
    text-transform: capitalize;
}

.plan__cost span {
    font-size: 28px;
}

.plan__list {
    list-style: none;
    font-size: 17px;
    line-height: 50px;
    margin: 0 0 33px 0;
}

.plan__getstarted {
    width: 285px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
}

.plan__getstarted:hover {
    transition: 500ms;
    background: #9F3919;
    border: none;
    color: white;
}
